body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


#city,
#university,
#college ,
#department {
    color: black;
    -webkit-appearance: none;
}

    /* منع تحديد النصوص */
body {
    user-select: none; /* لجميع المتصفحات الحديثة */
}

/* خاصية لتصحيح عرض النصوص في بعض المتصفحات */
body {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* جميع المتصفحات الحديثة */
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(135deg, #36051b 0%, #200536 50%, #0b1321 100%);
    z-index: 0;
}

.stars {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
}

.glass-container {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 22px;
        -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
        margin-bottom: 16px; /* المسافة بين الفوتر والمحتوى الذي فوقه */
            direction: rtl; /* اتجاه النصوص بشكل عام من اليمين لليسار */
}
.glass-container label,

.glass-container p {
    margin: 1px 0; /* تقليص المسافة بين العناصر الداخلية */
    padding: 1px; /* تقليص المسافة الداخلية للعناصر */
}



h1 {
    color: #fff;
    margin-bottom: 20px;
}


 p {
            font-weight: bold;
            color: white;
            font-size: 18px;
            margin-top: 2px;

 }

h2 {
    color: #ff2ea4; /* اللون الأصفر */
    font-size: 14px; /* حجم الخط أصغر */
    background: rgba(0, 0, 0, 0.1); /* خلفية خفيفة */
    padding: 10px; /* إضافة حواف للعنوان */
    border-radius: 5px; /* زوايا دائرية للخلفية */
    margin-bottom: 15px; /* مسافة سفلية */
      margin-top: 0px; /* مسافة سفلية */
}

h8 {

  color: white;

}



label {
    display: block;
    color: #fff;
    margin-top: 10px;
}


select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

 select {
    background-image: url('https://i.ibb.co/vkdXfMz/down-arrow.png'); /* إضافة أيقونة السهم الخاصة بك */
    background-repeat: no-repeat;
    background-position: calc(100% - 210px) center; /* تحديد مكان الأيقونة */
    background-size: 12px; /* حجم الأيقونة */
}
/* للتأكد من أن الأيقونة تعمل على جميع المتصفحات */
select::-ms-expand {
    display: none;
}
/* ضبط مكان السهم على الشاشات الصغيرة */
@media (max-width: 600px) {
    #info-select {
        background-position: calc(100% - 230px) center; /* تعديل مكان الأيقونة للشاشات الصغيرة */
    }
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}

.bounce {
    animation: bounce 0.3s ease;
}

.fade-in {
    animation: fadeIn 0.5s ease;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.notification {
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 15px ;
    border-radius: 8px;
    font-size: 14px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 1009;
    transition: top 0.5s ease;
 
}

@keyframes slideDownUp {
    0% {
        top: -100px;
    }
    20% {
        top: 20px;
    }
    80% {
        top: 20px;
    }
    99% {
        top: -100px;
    }
    100% {
        top: -120px;
    }
}


.notification.show {
    animation: slideDownUp 3s ease;
}

body {
    animation: fadeInFromTop 2s ease-out;
}

.menu-button {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1009;
    color: white;
    transition: transform 0.3s ease;
}

.menu-button.clicked {
    transform: rotate(180deg) scale(1.1);
}
       

.side-menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 50px;
    transition: right 0.3s ease;
    z-index: 1000;
}

.side-menu.open {
    right: 0;
}

.side-menu button {
    display: block;
    width: 100%;
    padding: 15px 20px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    text-align: right;
    border: none;
    border-bottom: 1px solid #555;
    transition: background-color 0.3s ease;
}

.side-menu button:hover {
    background-color: #555;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

footer a {
    color: #ffcc00;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #1890db;
}

/* الخلفية الضبابية */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1099;
}

/* تحسين تنسيق نموذج تسجيل الدخول */
.login-form {
    position: fixed; /* تأكيد على التثبيت فوق كل العناصر */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* توسيط النموذج */
    z-index: 1001; /* تأكيد أن النموذج فوق كل العناصر */
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 18px;
   
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
    text-align: auto;
    width: 250px; /* عرض ثابت لنموذج تسجيل الدخول */
    margin: 0 auto; /* توسيط النموذج */
    direction: rtl; /* اتجاه النصوص بشكل عام من اليمين لليسار */
}


.login-form h1 {
    color: #000000;
    margin-bottom: 20px;
    font-size: 24px; /* حجم أكبر لعنوان النموذج */
     text-align: center;
}

.login-form label {
    display: block;
    color: #000000;
    margin-top: 10px;
    font-size: 16px; /* حجم خط أكبر للتسمية */
}

.login-form input[type="password"] {
    width: calc(100% - 20px); /* عرض الحقل مع هامش */
    padding: 8px;
    border: none;
    border-radius: 3px;
    background: rgba(212, 212, 212, 0.9);
    color: black;
    font-size: 16px; /* حجم خط مناسب */
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 7px;
}




.login-form input[type="checkbox"] {
    margin-left: 10px; /* مسافة بين الصندوق والنص */
   
} 



/* تحسين مظهر الصندوق عند التحديد */
.login-form input[type="checkbox"]:checked {
    background-color: #5c0e3b; /* تغيير الخلفية عند التحديد */
    border: 2px solid #5c0e3b; /* تأكيد الحدود عند التحديد */
}










.login-form button {
    width: 100%;
    padding: 10px;
    position: relative;
    border: none;
    border-radius: 4px;
    background-color:#d90fb0;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
     text-align: center;
      display: block; /* التأكد من أن الزر يعرض ككتلة منفصلة */
    text-align: center; /* توسيط النص داخل الزر */
}

.login-form button:hover {
    background-color: #941692;
}

.login-form p {
    margin-top: 18px;
    font-size: 14px;
    color: #fff;
     text-align: center;

}


.login-form a {
    color: #000000; /* لون مميز للرابط */
    text-decoration: none;
     text-decoration: underline;
  text-decoration-color: #696969
}

.login-form a:hover {
    text-decoration: underline;
    color: #ff0095; /* لون أفتح عند التمرير فوق الرابط */
}



@keyframes blink {
  0% { color: #ffff87; }
  100% { color: white; }
}

.blink-effect {
  animation: blink 1s ease-in-out forwards;
}


